<h2>추천 받기</h2>

<div class='row'>
  <% @re.each do |r| %>
      <div class='col-sm-4'>
        <div class="panel panel-default">
          <img src="<%= r.user.movielikeds.first.movie.img_url %>" class="img-responsive">
          <div class="panel-body">
            <p class='lead'><a href="/movie/show/<%= r.user.movielikeds.first.movie.id %>"><%= r.user.movielikeds.first.movie.title %></a></p>
            <p><samll><%= r.user.username %> 사용자 추천</samll></p>
            <p><%= r.user.movielikeds.first.movie.reviews.count %> Reviews</p>
          </div>
        </div>
      </div>
  <% end %>
</div>