<%= flash[:alert] %>
<div class="row">
	<h2>영화 검색</h2>
        <div id="custom-search-input">
            <form action="list" method="GET">
                <div class="input-group col-md-12">
                    <input name="movie" type="text" class="search-query form-control" placeholder="제목을 입력해주세요" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" type="button" >
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
</div>
<br><br>
<hr>

    <% if !@m.nil? %>
        <% @m.each do |s| %>
        <!-- Blog Post Row -->
            <div class="row">
                <div class="col-md-1 text-center">
                    <p><i class="fa fa-film fa-4x"></i>
                    </p>
                    <p></p>
                </div>
                <div class="col-md-5">
                    <a href="/movie/show/<%= s.id %>">
                        <% if s.img_url.size < 1 %>
                            <img class="img-responsive img-hover" src="https://pl-movie-recommend-keonhol.c9users.io/noimage.jpg" alt="">
                            <p><%= s.img_url %></p>
                        <% else %>
                            <img class="img-responsive img-hover" src="<%= s.img_url %>" alt="">
                        <% end %>
                    </a>
                </div>
                <div class="col-md-6">
                    <h3><a href="/movie/show/<%= s.id %>"><%= s.title %></a>
                    </h3>
                    <p>by <a href="#"><%= s.director %></a>
                    </p>
                    <p><%= s.actor_one %> 주연 </p>
                    <a class="btn btn-primary" href="/movie/show/<%= s.id %>">자세히 보기<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <hr>
        <!-- /.row -->
        <% end %>

        <hr>
    <% end %>
        
        
