<div class="well">
    <div class="media">
      	<a class="pull-left" href="#">
    		<img class="media-object" src="<%= @movie.img_url %>">
  		</a>
  		<div class="media-body">
    	    <h4 class="media-heading"><%= @movie.title %>
    	        <small>
    	           <a style="display: inline" class="text-right" href="/movie/edit/<%= @movie.id %>">
    	               수정
    	           </a>
    	           <a href="/movie/delete_complete/<%= @movie.id %>">
    	               삭제
    	           </a>
    	        </small>
    	    </h4>
            <p class="text-left"><%= @movie.director %></p>
            <p>영화설명</p>
            <ul class="list-inline list-unstyled">
  			    <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                <li>|</li>
                    <span><i class="glyphicon glyphicon-comment"></i> <%= @movie.reviews.count %> comments</span>
                <li>|</li>
                <li>
                    <span class="glyphicon glyphicon-star"></span>
                </li>
                <li>|</li>
                <li>
                  <span><i class="fa fa-facebook-square"></i></span>
                  <span><i class="fa fa-twitter-square"></i></span>
                  <span><i class="fa fa-google-plus-square"></i></span>
                </li>
                <li>|</li>
                <li>
                    <% if @like.first.nil? %>
                        <button onclick="location.href='/movie/liked_complete/<%= @movie.id %>'" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span>좋아요</button>
                    <% else %>
                        <button id="liked" onclick="location.href='/movie/liked_complete/<%= @movie.id %>'" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span>좋아요</button>
                    <% end %>
                    <a type="button" class="btn btn-success btn-sm" href="/movie/list"><span class="glyphicon glyphicon-search"></span>다시 검색하기</a>
                </li>
			</ul>
       </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h5>Comment</h3>
    </div><!-- /col-sm-12 -->
</div><!-- /row -->
<div class="post-footer">
    <form action="/movie/write_review_complete" method="post">
        <div class="input-group">
            <input type="hidden" name="movie_id" value="<%= @movie.id %>">
            <input name="comment_content" class="form-control" placeholder="댓글을 작성해주세요" type="text">
            <span class="input-group-addon">
                <button><i class="fa fa-edit"></i></button>
            </span>
        </div>
    </form>
</div>
<br><br>
<div class="row">
    <% @movie.reviews.each do |review| %> 
        <div class="col-sm-1">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
        </div><!-- /col-sm-1 -->
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong><%= review.user.username %></strong> <span class="text-muted"><%= review.created_at %></span><span style="float:right"><a>수정</a> <a href="/movie/delete_review_complete/<%= review.id %>">삭제</a></span>
                </div>
                <div class="panel-body">
                    <%= review.content %>
                </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
    <% end %>
</div><!-- /row -->
<script>
  $( "#liked" ).prop( "disabled", true );
</script>
